  /**
  * Name: Bell counter stylesheet
  * Author: Shon Philip 
  * Version: 1.0
  */


  #time_form_startTime-error, #time_form_endTime-error {
    color:#FF0000;
	width:100%;
  }
  
  .alert, #time_form_save {
    margin-top:5px;
  }